
<%- include("parts/header") %> 

<div class="reg-wrapper">
    <form action="" class="reg-form">
        <h1 class="title">Ro'yxatdan o'tish</h1>
        <input id="name" type="text" name="name" required>
        <label for="name">Ism</label>
        <input id="firstName" type="text" name="firstName" required>
        <label for="firstName">Familiya</label>
        <input id="username" type="text" name="username" required>
        <label for="username">Username</label>
        <input id="email" type="text" name="email" required>
        <label for="email">Email</label>
        <input id="password" type="password" name="password" required>
        <label for="password">Parol</label>
    </form>
</div>

<%- include("parts/footer") %> 